* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --background: #2a2d34;
  --accent1: #009ddc;
  --accent2: #6761a8;
  --accent3: #009b72;
  --text: #f26430;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
}

.header {
  margin-top: 50px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  gap: 20px;
}

.result {
  height: 50px;
  border: solid 2px var(--accent3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  border-radius: 15px;
  transition: all 250ms;
}

.current {
  background-color: var(--accent3);
}

.result:hover {
  border: solid 25px var(--accent3);
}

.score {
  margin-top: 10px;
  font-size: 2rem;
  color: var(--text);
}

.game {
  width: 900px;
  height: 600px;
  margin-top: 30px;
  border: solid 3px var(--accent3);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.start-game-div {
  z-index: 100;
  height: 600px;
  width: 900px;
  background-color: var(--background);
  border: solid 3px var(--accent3);
  border-radius: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game-button {
  height: 120px;
  width: 400px;
  color: var(--text);
  font-size: 3rem;
  border: solid 3px var(--accent3);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms;
  flex-direction: column;
}

.start-game-button:hover {
  color: white;
  background-color: var(--accent3);
  box-shadow: 0px 0px 10px var(--accent3);
}

.hide {
  display: none;
}

.language-select {
  height: 50px;
  width: 200px;
  background-color: var(--background);
  color: var(--text);
  position: absolute;
  margin-top: 200px;
  border: none;
  font-size: 1.3rem;
}

option img {
  height: 30px;
}

.timer {
  position: absolute;
  font-size: 1.5rem;
  top: 10px;
  right: 30px;
  color: var(--text);
}

.question {
  width: 800px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  color: var(--text);
  border-bottom: solid 3px var(--accent3);
}

.answers {
  width: 850px;
  height: 300px;
  margin-top: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
  gap: 15px;
}

.answer {
  height: 110px;
  background-color: var(--background);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--text);
  border: solid 3px var(--accent3);
  transition: all 350ms;
}

.answer:hover {
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 0px 10px var(--accent3);
}

.reset-button {
  margin-top: 30px;
  height: 60px;
  width: 200px;
  color: var(--text);
  font-size: 2rem;
  background-color: var(--background);
  border: solid 3px var(--accent3);
  border-radius: 50px;
  cursor: pointer;
  display: none;
}

.reset-button:hover {
  color: white;
  background-color: var(--accent3);
}

.reset-button-show {
  display: block;
}

.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: firebrick;
  color: white;
}

@media (max-width: 900px) {
  .header {
    margin-top: 20px;
    width: 600px;
  }

  .results {
    margin-top: 10px;
    grid-template-columns: repeat(10, 35px);
    gap: 10px;
  }

  .result {
    height: 35px;
    border-radius: 12px;
    transition: all 250ms;
  }

  .result:hover {
    border: solid 18px var(--accent3);
  }

  .score {
    margin-top: 10px;
    font-size: 1.6rem;
    color: var(--text);
  }

  .game {
    width: 500px;
    height: 550px;
    margin-top: 30px;
    border: solid 3px var(--accent3);
    justify-content: space-evenly;
  }

  .start-game-div {
    height: 550px;
    width: 500px;
  }

  .start-game-button {
    height: 100px;
    width: 350px;
    font-size: 2.5rem;
  }

  .question {
    width: 375px;
    height: 170px;
    font-size: 1.7rem;
    border-bottom: solid 3px var(--accent3);
  }

  .answers {
    width: 450px;
    height: 350px;
    margin-top: 10px;
    grid-template-columns: repeat(1, 350px);
    gap: 10px;
  }

  .answer {
    height: 70px;
    border-radius: 50px;
    font-size: 1.7rem;
    transition: all 350ms;
  }

  .reset-button {
    margin-top: 20px;
    height: 50px;
    width: 180px;
    font-size: 1.7rem;
  }
}
